ion-content {
  --padding-start: 30px;
  --padding-end: 30px;
  .item-name {
    font-size: 17px;
    font-family: "inter_bold";
    color: var(--ion-color-dark-black);
    margin-bottom: 0px;
    margin-top: 4vh;
  }
  .item-description {
    font-size: 14px;
    font-family: "inter_italic";
    margin-top: 2px;
  }
  .price-tag {
    font-size: 17px;
    font-family: "inter_bold";
    color: var(--ion-color-primary);
  }
  .cart-adjust-section {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 46px;
    .btn-circle {
      height: 25px;
      width: 25px;
      background-color: var(--ion-color-primary);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
    }
    .cart-number-label {
      font-size: 22px;
      font-family: "inter_bold";
      color: var(--ion-color-dark-black);
      margin: 0px;
      min-width: 69px;
      text-align: center;
    }
  }
  .text-label {
    font-size: 14px;
    font-family: "inter_bold";
  }
  ion-textarea {
    --padding-start: 12px;
    --placeholder-opacity: 1;
    margin-top: 12px;
    font-size: 14px;
    border: 1px solid var(--ion-color-primary);
    border-radius: 5px;
    color: var(--ion-color-dark-black);
    font-family: "inter_regular";
  }
  .btn-ordine {
    --box-shadow: none;
    margin: 30px 15px;
    font-size: 14px;
    font-family: "inter_bold";
    height: 46px;
    width: calc(100% - 30px);
  }
}
