ion-content {
  --padding-start: 35px;
  --padding-end: 35px;
  .title {
    font-size: 22px;
    font-family: "inter_bold";
    color: var(--ion-color-dark-black);
    margin-top: 60px;
  }
  .sub-title {
    font-size: 16px;
    font-family: "inter_bold";
    color: var(--ion-color-primary);
    margin-top: 70px;
  }
  .rating-bar {
    margin: 16px auto;
    width: fit-content;

    ion-icon {
      font-size: 34px;
      margin-right: 7px;
      color: #e7ecf3;
      &:last-child {
        margin-right: 0px;
      }
    }
    .active {
      color: var(--ion-color-primary);
    }
  }
  .btn-visualize {
    height: 44px;
    font-family: "inter_bold";
    margin-top: 100px;
  }
}
