<ion-content>
  <h1 class="title ion-text-center">
    Ordine <br />
    consegnato!
  </h1>
  <h4 class="sub-title ion-text-center">Valuta il nostro servizio</h4>
  <div class="rating-bar">
    <ion-icon class="active" src="../../../assets/svg-icon/Star.svg"></ion-icon>
    <ion-icon class="active" src="../../../assets/svg-icon/Star.svg"></ion-icon>
    <ion-icon class="active" src="../../../assets/svg-icon/Star.svg"></ion-icon>
    <ion-icon src="../../../assets/svg-icon/Star.svg"></ion-icon>
    <ion-icon src="../../../assets/svg-icon/Star.svg"></ion-icon>
  </div>

  <ion-button
    expand="block"
    class="btn-visualize ion-text-capitalize"
    (click)="doClosaeModal()"
  >
    valutazione
  </ion-button>
</ion-content>
